html {
	scroll-behavior: smooth;
  }
body {
	background-image: linear-gradient(to bottom , #000, #232323);
	font-family: open sans;
	position: relative;
}
h1 {
	color: white;
	font-size: 60px;
}
h2 {
	
	color: #ffffff;
}
h3 {
	color: #0063e5;
}

p {
	color: #ffffff;
}
/* estilos del nav */

.menu {
	background-color: rgb(0, 0, 0, 0.5);
	z-index: 1;
	position:fixed;
	width: 100%;
  }

.menu__ul {
	position: relative;
	margin-right: 15px;
}
  
#menu nav {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	text-align-last: right !important;
	display: block;
}


.menu__list {
	display: inline-block;
	margin-left: 10px;
	margin-right: 10px;
}

.menu__link{
	color: #FFFFFF;
	text-decoration: none;
}


.menu__link:hover {
	color: #0063e5;
	border-bottom: 2px solid #0063e5;
}

.menu__link.active {
	text-decoration: underline;
}



  /* estilos del Hero */
.hero {
	position: relative;
    height: 100vh;
    padding-bottom: 400px;
    background: url("wallpapers.jpg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	  		
}

.hero__text{

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

/* estilos del primer info */
.queEs {
  background: #232323;
  padding: 5em;
  margin: 0 0 5em 0; }
  @media screen and (max-width: 768px) {
    .queEs {
      padding: 2em; } }

.queEs__h1 {
  color: #FFFFFF;
  margin-top: 15px; }

.queEs__p {
  font-weight: lighter;
  margin-top: 15px; 
}


/* estilos de spider */
.spider {
	position: relative;
	text-align: center;
	color: white;
}

.spider__text {
	position: absolute;
	top: 70%;
	left: 90%;
	transform: translate(-100%, -50%);
	text-align-last: left;
	width: 40%;

}

@media screen and (max-width: 992px) {
	.spider__text {
	position: static;
	top: 0;
	left: 0;
	transform: translate(0, 0);
	text-align-last: center;
	width: 100%;


}
}


.btn{
	background: #0063e5;
	color: white;
	padding: 1em 5em;
	border: none;
	border-radius: 10px;
	align-self: center;
}

.btn:hover{
	background: #FFFFFF;
	color: #0063e5;
}

/* estilos de seccion 1 */



.títulos {
	font-weight: bold;
}



/* estilos del registro */

.registro {
	padding: 1em;
	height: 80vh;
	text-align: center;
	
}

.registro__info{
	
	color: white;
	transform: translate(0%, 100%);
}
.registro form {
	width: 50%;
	transform: translate(50%, 0%);
}

.cat {
	margin-top: 5em;
}

.cat__titulo {
	text-align: center !important;
}

/* estilos del footer */

.footer {
	background-color: #000;
	color: #656565;
	text-align-last: center;
	padding: 5em;
}

.footer a {
	text-decoration: none;
	color: #656565;
	margin: 15px;
}

.footer span {
	color: #656565;
	
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 20px; } 

  .registro form {
	width: 100%;
	transform: translate(0%, 0%);
}  
}